
/** {outline: 1px solid red !important;}*/

/* Block elements will have padding and border included in the element's total width and height */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

/* Prevent images and other objects from overflowing parent */
img, embed, object, video {
    max-width: 100%;
}

/* Increase font size and give soft black color */
body {
  color: #424242;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*  COLOR OVERRIDES  */
.turquoise {
  color: #02ccba !important;
}
.purple {
  color: #a951ed !important;
}
.blue {
  color: #02b3e4 !important;
}
.grey {
  color: #7d97ad !important;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  max-width: 73.75rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(0,0,0,0.1);
}
.text-center {
  text-align: center !important;
}

.banner {
  padding: 10px;
  color: #02b3e4;
  font-size: .8125rem;
  line-height: 1.5rem;
  text-align: center;
  background: #fff;
}
.banner a {
  text-decoration: underline;
}
.hamburger-icon {
  position: absolute;
  margin: 20px;
  width: 1.25rem;
  height: 1.25rem;
}
.hamburger-bar {
  display: block;
  background-color: #fff;
  width: 100%;
  height: .1875rem;
  margin-top: .1875rem;
}
.logo-white {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav {
  display: none;
  background: #242f38;
  color: #fff;
  width: 16.25rem;
  height: 100vh;
  position: fixed;

}
nav div {
  padding: 27px;
}
.sidebar-logo {
  background: #171c23;
  width: 100%;
  height: 72px;
}
.sidebar-logo img {
  margin-top: -10px;
  width: 10rem;
}
.classroom {
  color: #34a2d9;
}
.hero-background {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  transform: skew(0deg, -15deg);
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left bottom;
}
.hero-behind {
  position: absolute;
  height: 480px;
  z-index: -500;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  /*border: 1px blue solid;*/

}
.hero {
  background: url(images/hero_480x480.jpg) center center no-repeat;
  background-size: cover;
  height: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 780px;
  margin-bottom: 25px;
  /*border: 1px red solid;*/
}
.hero-text {
  color: #fff;
  text-align: center;
  padding: 1.5rem;

}
.hero-text h3 {
  text-transform: uppercase;
  font-size: .8125rem;
  letter-spacing: 0.09375rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.hero-text h1 {
  font-weight: lighter;
  font-size: 2rem;
  line-height: 2.5rem;
}
.hero-description {
  font-size: .8125rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}
.hero-button {
  background-color: #34a2d9;
  padding: 18px 30px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color:inherit;
  font-size: .8125rem;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 0.09375rem;
}
.card {
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  border-radius: .375rem;
  overflow: hidden;
  -webkit-transition: box-shadow 2s; /* Safari */
  transition: box-shadow .3s;
}
.card:hover {
  box-shadow:  1px 1px 7px 0 rgba(46,61,73,0.2);
}
.hero-cards {
  display: flex;
  flex-flow: row wrap;
}
.row-card {
  width: 90%;
  height: 7.5rem;
  margin: 0 auto 25px auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 760px;
}
.row-card-image {
  width: 107px;
}
.row-card-text {
  width: 100%;
  padding: 20px 25px;
  background-color: #fff;
}
.row-card-text h6 {
  font-size: .5625rem;
  line-height: .75rem;
  margin-top: 0;
  margin-bottom: .375rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.row-card-text p:first-of-type {
  margin-top: 0;
  margin-bottom: .375rem;
  font-size: .875rem;
  line-height: 24px;
  font-weight: 600;
  color: #2e3d49;
}
.row-card-text p:last-of-type {
  font-size: .75rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #525c65;
  font-weight: 400;
}
/* ------- SPONSOR CLASSES ------- */
.sponsor-container {
  margin: 0 50px 0 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.sponsor-div {
  margin: 10px;
}
/* ----- TESTIMONIAL CLASSES ----- */
.testimonials {

}
.testimonials h4 {
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.carousel-item p {
  font-size: 1.125rem;
  line-height: 2rem;
  font-style: italic;
  font-weight: 300;
  color: #2e3d49;
}
.carousel-item h2 {
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
}
.carousel-wrapper{
  height: 200px;
  position:relative;
  width: 100%;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:0px 75px;
  text-align: center;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: #4ac0e7;
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:0;
}

.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }
.light{
  color:white;
}
/*Select every element*/
[id^="item"] {
    display: none;
  }
.item-1 {
    z-index: 2;
    opacity: 1;
  /*background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');*/
  /*background-size:cover;*/
  }
.item-2{
  /*background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');*/
   /*background-size:cover;*/
}
.item-3{
  /*background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');*/
   /*background-size:cover;*/
}

/* Reset carousel (by turning all cards except the first one to transparent) when any link on page is clicked */
*:target ~ .item-1 {
    opacity: 0;
  }
/* When an arrow with this ID as it's href is clicked, change the opacity from transparent to fully opaque and bring it to front with z-index */
#item-1:target ~ .item-1 {
    opacity: 1;
  }
#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
}
