* {
   outline: 1px solid red !important;
}

/* Block elements will have padding and border included in the element's total width and height */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Make HTML 5 elements display block-level for consistent styling */
header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}
/* Prevent images and other objects from overflowing parent */
img, embed, object, video {
    max-width: 100%;
}
body {
  color: #424242;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;

}
/* ---------- GLOBAL CLASSES ---------- */
.contain {
  max-width: 960px;
  margin: 0 auto;
}

.blue-box {
  background-color: #34d4fe;
  height: 200px;
  width: 100%;
  position: relative;
}
